
.banner-container { position: absolute; top: 0; }

.banner {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;

    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: rgba(255,255,255,.6);
    text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

    background: #5b4d3d;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
    .banner ul {
        list-style: none;
        width: 300%;
    }
    .banner ul li {
        display: block;
        float: left;
        width: 33%;
        min-height: 575px;

        -o-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-position: center;

        box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
    }
    // slide可点击
    .banner ul li a {
        display: block;
        height: 575px;
    }

    // .dot {
    //     -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    //     -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    //     -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    //     -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    //     filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    // }

    .dots {
        position: absolute;
        left: 0;
        right: 0;
        top: 600px;
        text-align: center;
    }
        .dots li {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin: 0 4px;

            text-indent: -999em;

            border: 3px solid #d4d4d4;
            border-radius: 8px;

            cursor: pointer;
            // opacity: .4;

            // -webkit-transition: background .5s, opacity .5s;
            // -moz-transition: background .5s, opacity .5s;
            // transition: background .5s, opacity .5s;
        }
            .dots li.active {
                background-color: @green3e;
                opacity: 1;
            }
.container-ad { .mtb(515px, 60px); .pr; }
.dujia {
    .clearfix;
    >a {
        height: @dujia-height;
        background-position: center;
        float: left;
        -o-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        & + a { margin-left: 20px; }
        width: (@container-lg - @grid-gutter-width) / 2;
        @media (max-width: @screen-md) {
            width: (@container-md - @grid-gutter-width) / 2;
        }
        @media (max-width: @screen-sm) {
            width: (@container-sm - @grid-gutter-width) / 2;
        }
    }
}
.index-weiboshare { .part(0, -60px); }


.container-index-title { .mtb(0, 20px); }
.colp(@l: 0; @t: 0) {left: @l; top: @t; }
@col: 252px;
.container-index { 
    .pr;
    height: 736px;
    margin-bottom: 40px;
    .item-info {
        .pa; left: 0; right: 0; bottom: -1px;
        padding: 8px 20px;
        background-color: #fff;
        background-color: rgba(255,255,255,0.8);
        .opacity(0);
        .transition(all 0.8s;);
        li { margin-top: 2px; }
        a { color: @gray30; .text-overflow; display: inline-block; width: 100%; }
        strong { .number; }
    }
    .col { 
        .pa; 
        &:hover {
            .item-info { .opacity(1); }
            span { .opacity(0); }
        }
        span { .palt(12px, 12px); background-color: rgba(0, 0, 0, 0.5); padding: 3px 6px; .font(#fff, 12px); .transition(all 0.8s;); }
    }
    .col11 {
        &, img { .square(232px); }
    }
    .col22 {
        &, img { .square(484px); }
    }
    .col12 {
        &, img { .size(232px, 484px); }
    }
    .col21 {
        &, img { .size(484px, 232px); }
    }
    .col-11-5 { .colp(@col * 4, 0); }
    .col-11-6 { .colp(@col * 4, 252px); }
    .col-11-7 { .colp(@col * 4, 504px); }
    .col-11-5, .col-11-6, .col-11-7 { .hide-md; } 
}
.container-index--a {
    .col-11-1 { .colp; }
    .col-11-2 { .colp(252px, 0); }
    .col-11-3 { .colp(0, 504px); }
    .col-11-4 { .colp(252px, 504px); }
    
    .col-22 { .colp(504px, 0); }
    .col-21-1 { .colp(0, 252px); }
    .col-21-2 { .colp(504px, 504px); }
    @media (max-width: @screen-sm) {
        height: 1008px;
        .col-11-2 { .colp(0, 252px); }
        .col-11-3 { .colp(504px, 504px); }
        .col-11-4 { .colp(0px, 756px); }
        .col-21-1 { .colp(0, 504px); }
        .col-21-2 { .colp(252px, 756px); }
        .col-22 { .colp(252px, 0); }
    }
}


.container-index--c {
    .col-11-1 { .colp(0, 252px); }
    .col-11-2 { .colp(252px, 252px); }
    .col-11-3 { .colp(504px, 504px); }
    .col-11-4 { .colp(756px, 504px); }
    
    .col-22 { .colp(504px, 0); }
    .col-21-1 { .colp; }
    .col-21-2 { .colp(0, 504px); }
    @media (max-width: @screen-sm) {
        height: 1008px;
        .col-11-1 { .colp; }
        .col-11-2 { .colp(504px, 252px); }
        .col-11-3 { .colp(504px, 504px); }
        .col-11-4 { .colp(0px, 756px); }
        .col-21-1 { .colp(252px, 0); }
        .col-21-2 { .colp(252px, 756px); }
        .col-22 { .colp(0, 252px); }
    }
}

.container-index--b {
    .col-11-1 { .colp; }
    .col-11-2 { .colp(252px, 0); }
    .col-11-3 { .colp(756px, 0); }
    .col-11-4 { .colp(756px, 252px); }
    
    .col-22 { .colp(0, 252px); }
    .col-12 { .colp(504px, 0); }
    .col-21 { .colp(504px, 504px); }
    @media (max-width: @screen-sm) {
        height: 1008px;
        .col-11-3 { .colp(504px, 504px); }
        .col-11-4 { .colp(504px, 756px); }
        .col-21 { .colp(0, 756px); }
    }
}

.container-index--d {
    margin-bottom: 112px;
    .col-11-1 { .colp(504px, 0); }
    .col-11-2 { .colp(756px, 0); }
    .col-11-3 { .colp(252px, 252px); }
    .col-11-4 { .colp(252px, 504px); }
    
    .col-22 { .colp(504px, 252px); }
    .col-12 { .colp(0, 252px); }
    .col-21 { .colp; }
    @media (max-width: @screen-sm) {
        height: 1008px;
        .col-11-2 { .colp(252px, 252px); }
        .col-11-3 { .colp(504px, 252px); }
        .col-11-4 { .colp(0, 756px); }
        .col-22 { .colp(252px, 504px); }
    }
}
